mixin card(img, price, product, icon)
	.card
		.card-wrapper
			img.card-wrapper-img(src=img alt=description)&attributes(attributes)
		.card-info-container
			.card-info
				p.card-info-price.price='$ '+price
				p.card-info-name.h3-body=product
			.card-addcart
				a(href="https://www.google.com" target='_blank')
					span.card-addcart-btn

mixin sheet(img, price, product , description)
	aside.sheet-container.d-none
		figure.sheet-img-wrap
			.sheet-closeBtn
				span.icon.icon-round.icon-sm.icon-close
			img.flex-img.sheet-img(src=img alt=description)&attributes(attributes)
		.sheet-info
			.sheet-info-price.price= '$ ' + price
			.sheet-info-name.h3-body= product
			.sheet-info-description= description

		button.addcart-btn.btn.btn-lg(type='button') Add to cart
			span.icon.icon-addcart-light

mixin card-order(img, articles, price)
	.card-order-container
		.card-order-img 
			img(src=img alt=articles)&attributes(attributes)
		.card-order-articles
			p.articles=articles
		.card-order-price
			p.price= '$'+ price

mixin orders(fecha, NoArt, price)
	.total
		.total-fr-1
			.total-fecha=fecha
			.total-articles=NoArt + " articles"
		.total-fr-2
			.total-cost='$'+price
			span.icon-view